@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #0f172a;
  --color-secondary: #ffffff;
  --color-accent: #8b5cf6;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-muted: #f1f5f9;

  --color-text-primary: #0f172a;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;

  --color-danger: #ef4444;
  --color-success: #10b981;
}

textarea {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
  display: none;
}
