@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #0f172a;
  --color-secondary: #ffffff;
  --color-accent: #d900a5;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-muted: #f1f5f9;

  --color-text-primary: #0f172a;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;

  --color-warning: #ea580c;
  --color-danger: #ef4444;
  --color-success: #10b981;
}

textarea {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
  border: 2px solid transparent;
  background-clip: content-box;
}

html {
  scroll-behavior: smooth;
}
